# Java and Spring Boot
.gradle/
build/
**/build/
target/
*.class
*.jar
*.war

# Node and React
node_modules/
dist/
npm-debug.log
yarn-debug.log
yarn-error.log

# OS and IDE files
.DS_Store
Thumbs.db
*.log
*.iml
.vscode/
.idea/

# Windows system paths
AppData/
