.navbar {
  background-color: #333;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar-logo {
  color: white;
  text-decoration: none;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-left: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #4285f4;
}

.navbar button,
.logout-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  transition: color 0.3s;
}

.navbar button:hover,
.logout-button:hover {
  color: #4285f4;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .navbar-brand {
    margin-bottom: 10px;
  }

  .navbar ul {
    width: 100%;
    justify-content: space-around;
  }

  .navbar li {
    margin: 0;
  }
}

